<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>t2</title>
</head>

<body>
    <div class='zh'>
        <p>您好！</p>
        <p>openEuler {{sig_name}} SIG 邀请您参加 {{start_time}} 召开的ZOOM会议</p>
        <p>会议主题：{{topic}}</p>
        <pre style="font-family: 'Microsoft YaHei',serif">会议内容：{{summary}}</pre>
        <p>会议链接：<a href="{{join_url}}">{{join_url}}</a></p>
	<p>温馨提醒：建议接入会议后修改参会人的姓名，也可以使用您在gitee.com的ID</p>
        <p>更多资讯尽在：<a href="https://openeuler.org/zh/">https://openeuler.org/zh/</a></p>
        <br />
        <br />
    </div>
    <div class='en'>
        <p>Hello!</p>
        <p>openEuler {{sig_name}} SIG invites you to attend the ZOOM conference will be held at {{start_time}},</p>
        <p>The subject of the conference is {{topic}},</p>
        <pre style="font-family: 'Microsoft YaHei UI',serif">Summary: {{summary}}</pre>
        <p>You can join the meeting at <a href="{{join_url}}">{{join_url}}</a>.</p>
	<p>Note: You are advised to change the participant name after joining the conference or use your ID at gitee.com.</p>
        <p><a href="https://openeuler.org/zh/">More information</a></p>
    </div>
</body>

</html>
